#compiled binaries
bin/build_model
bin/humming
/data
/notebooks/.ipynb_checkpoints/
/tags

#vim
*.swp

#song files
*.mid
*.wav
*.txt
*.ogg

# Compiled Object files
*.slo
*.lo
*.o
*QBH*

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
